[submodule "didoesdigital_steno-dictionaries"]
	path = didoesdigital_steno-dictionaries
	url = https://github.com/didoesdigital/steno-dictionaries.git
[submodule "EPLHREU_emily-symbols"]
	path = EPLHREU_emily-symbols
	url = https://github.com/EPLHREU/emily-symbols.git
[submodule "openstenoproject_stenodict"]
	path = openstenoproject_stenodict
	url = https://github.com/openstenoproject/stenodict.git
[submodule "EPLHREU_emily-modifiers"]
	path = EPLHREU_emily-modifiers
	url = https://github.com/EPLHREU/emily-modifiers.git
[submodule "Jade-GG_plover_phrasing"]
	path = Jade-GG_plover_phrasing
	url = https://github.com/Jade-GG/plover_phrasing.git
[submodule "JorWat25_dictionaries"]
	path = JorWat25_dictionaries
	url = https://github.com/JorWat25/dictionaries.git
[submodule "aerickt_aerick-phrasing"]
	path = aerickt_aerick-phrasing
	url = https://github.com/aerickt/aerick-phrasing.git
[submodule "4hrue2kd83f_abby-left-hand-modifiers"]
	path = 4hrue2kd83f_abby-left-hand-modifiers
	url = https://github.com/4hrue2kd83f/abby-left-hand-modifiers.git
